.sliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.sliderSelector {
  width: 325px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slider-grid {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  display: none;
  /* можно добавить другие стили, например, для размера элементов */
}

.slider-item.active {
  display: block;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pageName {
  width: 80px;
}

.text {
  font-family: 'Avenir Next Cyr', sans-serif;
  font-weight: 500;
  color: #e4e5e6;
}

.arrowButton {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 10px 0 10px; */
  width: 70px;
  height: 30px;
  background-color: #0157ff;
  /* background-color: rgb(30, 30, 30); */
  border-radius: 7px;
  /* border: 1px solid #5165a4; */
  border: none;
  position: relative;
  overflow: hidden;
}

.arrowButton:active {
  box-shadow: 0px 0px 12px #043fb5;
  /* box-shadow: 0px 0px 10px rgba(210, 200, 200, 0.549); */
}

.arrowColor {
  color: #0f0463;
  font-size: 30px;
  transition: transform 0.3s ease;
  display: inline-block; /* Чтобы трансформация работала правильно */
}

.arrowButton:hover .arrowColor {
  transform: scale(1.2); /* Увеличивает элемент на 20% */
}

.comingSoon {
  margin-top: 40px;
  font-size: 20px;
  color: #a4a3a3;
}

.coinsLogo {
  width: 40px;
  height: 40px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  overflow: hidden;
  border-radius: 50%;
  /* box-shadow: 0px 0px 12px rgba(11, 36, 138, 0.705); */
}

.coinsLogo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 500px) {
  .sliderSelector {
    width: 275px;
    height: 40px;
    margin-bottom: 20px;
  }

  .arrowButton {
    width: 60px;
  }
  .center {
    position: relative;
  }
  .coinsLogo {
    width: 35px;
    height: 35px;
    position: absolute;
    left: -2px;
    top: -18px;
  }

  .text {
    font-size: 17px;
    position: absolute;
    top: -27px;
    left: 45px;
  }
}
