.app {
  display: flex;
  justify-content: center;
  height: 100vh; /* 100% высоты окна браузера */
  background: linear-gradient(30deg, #171717, #233366 80%);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: linear-gradient(40deg, #233366, #171717 60%);

  /* background-color: rgb(30, 30, 30); */
  border-radius: 35px;
  height: 530px;
  width: 700px;
  margin-top: 30px;
  box-shadow: 0px 0px 30px rgb(11, 11, 11);
}

@media (max-width: 800px) {
  .main {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .main {
    width: 375px;
    height: 490px;
  }
}
@media (max-width: 400px) {
  .main {
    width: 345px;
  }
}
@media (max-width: 355px) {
  .main {
    width: 300px;
  }
}
